/* Google Fonts ********************************************************************************* */

@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/* End Google Fonts ***************************************************************************** */

/* Default Styles ******************************************************************************* */

:root {
    --primary-color: royalblue;
    --light-color: rgb(238, 246, 255);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5;
    font-family: "Aldrich", sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: "Aldrich", sans-serif;
}

h3 {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 600;
}

p,
.form-label {
    font-size: 0.8rem;
    line-height: 1.5;
}

.form-label {
    text-align: left;
}

button,
input[type='submit'] {
    padding: 8px 10px;
    font-weight: 500;
    font-size: 0.8rem;
    outline: none;
    font-family: "Aldrich", sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 0.9rem;
}

section {
    scroll-margin-top: 80px;
}

section header {
    text-align: center;
}

.mobile-link {
    display: none;
}

/* End Default Styles *************************************************************************** */

/* Decorations ********************************************************************************** */

.tetris-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tetris-block {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #0ff;
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
    opacity: 0;
    animation: tetris-fadeIn 1s ease-out forwards, tetris-floaty 5s infinite alternate;
    border-radius: 4px;
}

@keyframes tetris-fadeIn {
    to {
        opacity: 0.2;
    }
}

@keyframes tetris-floaty {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
    }
}

/* End Decorations ****************************************************************************** */

/* Custom Class Attributes ********************************************************************** */

.wrapper {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.relative {
    position: relative;
    z-index: 1;
}

.grid-2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.form-input {
    font-size: 0.85rem;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
}

.form-input:focus {
    outline: 1px solid var(--primary-color);
}

.row {
    display: flex;
}

.aitems-center {
    align-items: center;
}

.jcontent-center {
    justify-content: center;
}

.jcontent-sbetween {
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap10 {
    gap: 10px;
}

.gap20 {
    gap: 20px;
}

.gap40 {
    gap: 40px;
}

.fwrap {
    flex-wrap: wrap;
}

.section-padding {
    padding: 40px 80px;
}

.talign-center {
    text-align: center;
}

.primary-outline {
    position: relative;
    background-color: transparent;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    transition: transform 0.4s, box-shadow 0.4s;
}

.primary-outline:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
    transform: translate(-2px, -2px);
}

.primary-outline::before {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - 6px);
    top: 50%;
    left: -4.5px;
    transform: translateY(-50%);
    border: 1.5px solid var(--primary-color);
}

.primary-outline::after {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - 6px);
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 1.5px solid var(--primary-color);
}

.primary-fill {
    position: relative;
    background-color: var(--primary-color);
    color: white;
    border: 1.5px solid var(--primary-color);
    transition: transform 0.4s, box-shadow 0.4s;
}

.primary-fill:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 10px;
    transform: translate(-2px, -2px);
}

.primary-fill::before {
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% - 6px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5px solid var(--primary-color);
}

.marginT40 {
    margin-top: 40px;
}

/* End Custom Class Attributes ****************************************************************** */

/* Header Styles ******************************************************************************** */

header.main {
    padding: 20px 40px;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: white;
}

.logo-container a {
    font-size: 1.4rem;
    font-family: "Aldrich", sans-serif;
    color: var(--primary-color);
}

nav.main ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav.main ul li a {
    color: #333;
    transition: text-shadow 0.4s;
}

nav.main ul li a:hover {
    color: black;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.menu-toggle {
    display: none;
}

/* End Header Styles **************************************************************************** */

/* Home Styles ********************************************************************************** */

#home {
    min-height: 450px;
}

#home-sign-up-btn {
    display: none;
}

/* End Home Styles ****************************************************************************** */

/* Features Section Styles ********************************************************************** */

#features {
    background-color: var(--light-color);
}

.feature-card {
    background-color: white;
    padding: 20px;
}

.feature-card figure {
    display: flex;
    gap: 10px;
}

.feature-card figure img {
    width: 48px;
    height: 48px;
}

.feature-card figure figcaption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* End Features Section Styles ****************************************************************** */

/* Pricing Section Styles *********************************************************************** */

.pricing-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
    background-color: white;
    border: 1.5px solid var(--primary-color);
}

.pricing-card.premium {
    background-color: var(--primary-color);
    color: white;
}

.pricing-card.premium .features-list li {
    color: white;
}

.pricing-card.premium .button {
    background-color: white;
    color: var(--primary-color);
}

.pricing-card.premium .button::before {
    border: 1px solid white;
}

.pricing-card .price {
    font-size: 1.5rem;
}

.pricing-card .features-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pricing-card .features-list li {
    font-size: 0.8rem;
    color: #333;
}

.pricing-card .button {
    align-self: flex-start;
    margin: 20px auto 0 auto;
    padding: 8px 10px;
    font-weight: 500;
    font-size: 0.8rem;
}

/* End Pricing Section Styles ******************************************************************* */

/* Testimonials Section Styles ****************************************************************** */

#testimonials {
    background-color: var(--light-color);
}

.testimonial-wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out, visibility 0.6s;
}

.testimonial-card.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.testimonial-card p {
    font-style: italic;
}

.testimonial-card figcaption {
    font-size: 1.5rem;
}

.testimonial-indicators {
    margin-top: 20px;
}

.indicator {
    width: 40px;
    height: 8px;
    background-color: white;
    border-radius: 2px;
    transition: background-color 0.4s ease;
}

.indicator.active {
    background-color: var(--primary-color);
}

/* End Testimonials Section Styles ************************************************************** */

/* FAQ Section Style **************************************************************************** */

.faq-item {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.faq-item h3 {
    color: var(--primary-color);
}

.faq-answer {
    max-height: 0;
    padding-right: 60px;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    opacity: 0;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    /* or adjust based on your content */
    opacity: 1;
}

.faq-question-container {
    cursor: pointer;
}

.faq-question {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
}

/* End FAQ Section Style ************************************************************************ */

/* Footer Style ********************************************************************************* */

footer {
    padding: 40px;
    background-color: var(--light-color);
}

footer .wrapper {
    gap: 80px;
}

.footer-logo-container {
    max-width: 300px;
}

.footer-description {
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    list-style-type: square;
}

.footer-nav ul li a {
    color: #666;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.4s;
}

.footer-legal-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    list-style-type: square;
}

.footer-legal-links ul li a {
    color: #666;
    font-size: 0.8rem;
    transition: 0.4s;
}

.footer-legal-links ul li a:hover,
.footer-nav ul li a:hover {
    color: black;
    text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
}

.footer-newsletter {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-newsletter p {
    text-align: left;
}

.footer-newsletter form {
    display: flex;
    gap: 10px;
}

.copyright {
    border-top: 1px solid #333;
    padding-top: 20px;
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
}

/* End Footer Style ***************************************************************************** */

/* Media Queries ******************************************************************************** */

@media (max-width: 850px) {
    .menu-toggle {
        display: block;
    }

    header.main nav {
        position: fixed;
        /* left: 0; */
        left: -50px;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;

        /* Initially */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity 0.4s, left 0.4s, visibility 0.4s;
    }

    header.main nav.show {
        opacity: 1;
        left: 0;
        visibility: visible;
        pointer-events: auto;
    }

    #close-menu-btn {
        align-self: flex-start;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    .mobile-link {
        display: block;
    }

    header.main nav button::before {
        width: calc(100% + 10px);
    }

    header.main nav ul {
        flex-direction: column;
    }

    header.main nav ul li a {
        font-size: 1.5rem;
    }

    header.main .action-buttons {
        display: none;
    }

    #home-sign-up-btn {
        display: block;
    }
}

@media (max-width: 800px) {
    .testimonials-container {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .section-padding {
        padding: 40px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p,
    .form-label {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
        padding: 10px 14px;
    }

    a {
        font-size: 0.85rem;
    }

    .testimonial-card {
        padding: 20px;
    }

    .testimonial-card figcaption {
        font-size: 1.2rem;
    }
}

@media (max-width:530px) {
    footer .wrapper {
        gap: 40px;
    }
}

/*  End Media Queries **************************************************************************** */